*{padding: 0px; margin: 0px;}
body{background-color: #fff3e0;;}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}

p{width: 100px;}

body > div{
    background-color: aqua;
    height: 120px;
    width: 700px;
    margin: 10px auto;
    border-radius: 5px;
    border: 3px solid blue;
    border-style: ridge;
}

body > div:hover{
    background-color: #289AFF;
}

h3{
    width: 50%;
    background-color: yellow;
    float: left;
    border-top-left-radius: 5px;
}
.category{
    position: relative;
    width: 67%;
    float: left;
    top: 50%;
    left: 3px;
}

.category > span{
    border: 3px solid black;
    border-style: inset;
    background-color: chartreuse;
    
}
img{
    width: 30%;
    height: 90%;
    float: right;
    margin-top: 5px;
}
