*{padding: 0px; margin: 0px;}
body{background-color: #fff3e0;;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
    
  }

body > div{
  margin: 5px auto;
  background-color: #E6A55A;
  border-radius: 2px;
  border: 3px solid #D2691E;
  width: 95%;
  height: 500px;
}

body > div > div{
  width: 50%;
  float: left;
  margin: 5px auto;
}

.cell_title{
  text-align: center;
}           
table > *{border: 2px solid purple;}
table{
  background-color: #F4AAAA;
  border: 2px solid black;
  margin: 10px;
  margin-top: 50px;
  float: right;
}
td{border: 2px solid red;}

#main{
  background-color: #7DA5E1;
  margin: 10px;
  margin-top: 50px;
  float: left;
  border: 2px solid black;
}
