*{padding: 0px; margin: 0px;}
body{background-color: #fff3e0;;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
  }

div{width: 100px; height: 70px;}

.cell_title{
  text-align: center;
}           
table > *{border: 2px solid purple;}
table{
  border: 2px solid black;
  margin: 50px;
  float: right;
  width: 300px;
}
td{border: 2px solid red;}

#main{
  margin: 50px;
  float: left;
  border: 2px solid black;
}
