body{background: #fff3e0;}

header{
  text-align: top; 
  height: 100px;
  background-color: chocolate; 
}

a{
  text-decoration: none;
  color: inherit;
}

li{list-style-type: none;}

.nav{
  display: flex;
  padding-top: 5px;
}

#menu{padding-left: 25px; padding-right: 25px;}

header div{
  font-size: 30px; width: 200px; float: left;  
  text-align: center;       
  margin: 10px;
  margin-right: 30px;
}

header > ul > li{
  float: left; height: 70%;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  margin-right: 25px;
}

#menu > li{display: inline-block; position: relative;}

#category:hover{color: blue; }
#category > ul.sub_category{
  display: none;
}
#category > ul.sub_category > li{
  display: inline-block;
}
#category:hover > ul.sub_category{
  display: inline-block;
}

p{
  text-align: center;}

.button{background-color: cyan; text-align: center;}

@media screen and (max-width: 800px) {
  #menu{display: none;}
  #menu li{padding-left: 15px; padding-right: 15px; font-size: 16px;}
}
