*{padding:0;margin:0}
body{background-color: #fff3e0;}

.question_div {
    background-color: bisque;
    width: 500px; height: 70px; 
    float: top;
    margin: 10px auto;
    border-radius: 10px;
}

.question_div > p{
    text-align: center;
}

.question_div > span{
    text-align: center;
    margin-left: 5px; 
    margin-right: 5px;
}
.question_div > span.left{
    float: left;
    width: 25%;
    margin-left: 5px;
}
.question_div > span.right{
    width: 25%;
    float: right;
    margin-right: 5px;
}

.selectDiv{
    width: 50%; height: 30px;
    margin: 10px auto;
}
.selectDiv input[type=radio]{
    display: none;
}
.selectDiv > label{
    margin: auto;
    display: inline-block;
    width: 30px; height: 25px;
    background: linen; 
    border: 2px solid #FF7F50;
}
.selectDiv .positive[type=radio]:checked + label{
    background-color: #3CB371;
}
.selectDiv .negative[type=radio]:checked + label{
    background-color: #9905D8;
}
.selectDiv .positive[type=radio]:hover + label{
    background-color: #3CB371;
}
.selectDiv .negative[type=radio]:hover + label{
    background-color: #9905D8;
}
input[type=submit]{
    position: relative;
    left: 46.6%;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #FF0000;
    background-color: #FF6464;
    box-shadow: 0px 0px 1px 1px #FF0000;
}

input[type=submit]:hover{
    background-color: #FF0000;
    border: 3px outset #FF0000;
}
